body{
    background-image: url(6226861.jpg);
     background-size: cover;

}
nav{
  background-color: rgb(7, 7, 53);
  padding: 1rem;
   border: 2px solid #f0f8f6 ;
    image-orientation: from-image ;
    box-shadow: 0 0 15px rgb(25, 25, 81);
}
nav ul{
list-style-type: none;
margin-top: 0px;
padding: 0px;
display: flex;
justify-content: space-around;
}
nav ul li{
  display: inline;
}
nav ul li a{
  color: #f0f8f6;
  text-decoration: none ; 
  padding: 0.5rem 1rem;
  display: block;
  font-size: xx-large;
  font-weight: bolder;
}
.info{
    color: aliceblue;
  width: 400px;
  height: 400px;
  margin-top: 80px;
  margin-left: 500px;
  justify-content: center;
    font-size: x-large;
    border: 5px solid #f0f8f6 ;
    border-radius: 10%;
    image-orientation: from-image ;
    box-shadow: 0 0 15px rgba(65, 149, 252, 0.7);
    p{
        margin-left: 50px;
        margin-top: 100px;
    }

}